<svg class="{{ icon_class|default:'icon' }}" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false">
  {% if icon_name == "home" %}
    <path d="m3 10 9-7 9 7"/><path d="M5 9.5V21h14V9.5"/><path d="M9 21v-6h6v6"/>
  {% elif icon_name == "users" %}
    <path d="M16 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="10" cy="7" r="4"/><path d="M20 21v-2a4 4 0 0 0-3-3.87M16 3.13a4 4 0 0 1 0 7.75"/>
  {% elif icon_name == "user-check" %}
    <path d="M16 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="10" cy="7" r="4"/><path d="m16 11 2 2 4-4"/>
  {% elif icon_name == "user-plus" %}
    <path d="M15 21v-2a4 4 0 0 0-4-4H7a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M19 8v6m3-3h-6"/>
  {% elif icon_name == "user-x" %}
    <path d="M16 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="10" cy="7" r="4"/><path d="m17 8 5 5m0-5-5 5"/>
  {% elif icon_name == "calendar" %}
    <rect x="3" y="5" width="18" height="16" rx="2"/><path d="M16 3v4M8 3v4M3 11h18"/><path d="M8 15h.01M12 15h.01M16 15h.01M8 18h.01M12 18h.01"/>
  {% elif icon_name == "clock" %}
    <circle cx="12" cy="12" r="9"/><path d="M12 7v5l3 2"/>
  {% elif icon_name == "mail" %}
    <rect x="3" y="5" width="18" height="14" rx="2"/><path d="m3 7 9 6 9-6"/>
  {% elif icon_name == "search" %}
    <circle cx="11" cy="11" r="7"/><path d="m20 20-4-4"/>
  {% elif icon_name == "chevron-left" %}
    <path d="m15 18-6-6 6-6"/>
  {% elif icon_name == "chevron-right" %}
    <path d="m9 18 6-6-6-6"/>
  {% elif icon_name == "chevron-down" %}
    <path d="m6 9 6 6 6-6"/>
  {% elif icon_name == "refresh" %}
    <path d="M20 7v5h-5"/><path d="M4 17v-5h5"/><path d="M5.6 9A7 7 0 0 1 18 6l2 2"/><path d="M18.4 15A7 7 0 0 1 6 18l-2-2"/>
  {% elif icon_name == "check-circle" %}
    <circle cx="12" cy="12" r="9"/><path d="m8 12 2.5 2.5L16 9"/>
  {% elif icon_name == "file" %}
    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/><path d="M14 2v6h6M8 13h8M8 17h8"/>
  {% elif icon_name == "chart" %}
    <path d="M3 3v18h18"/><path d="M18 17V9M13 17V5M8 17v-3"/>
  {% elif icon_name == "settings" %}
    <circle cx="12" cy="12" r="3"/><path d="m19.4 15 .1.1 1.4 1.1-1.4 2.4-1.7-.7a8 8 0 0 1-1.5.9L16 20h-3l-.4-1.8a8 8 0 0 1-1.6-.9l-1.7.7-1.4-2.4 1.4-1.1a8 8 0 0 1 0-1.8l-1.4-1.1 1.4-2.4 1.7.7a8 8 0 0 1 1.6-.9L13 7h3l.4 1.8a8 8 0 0 1 1.5.9l1.7-.7 1.4 2.4-1.4 1.1a8 8 0 0 1-.2 2.5Z"/>
  {% elif icon_name == "user" %}
    <circle cx="12" cy="8" r="4"/><path d="M5 21a7 7 0 0 1 14 0"/>
  {% elif icon_name == "edit" %}
    <path d="M12 20h9"/><path d="M16.5 3.5a2.1 2.1 0 0 1 3 3L8 18l-4 1 1-4Z"/>
  {% elif icon_name == "shield" %}
    <path d="M12 22s8-4 8-11V5l-8-3-8 3v6c0 7 8 11 8 11Z"/><path d="m9 12 2 2 4-4"/>
  {% elif icon_name == "alert" %}
    <path d="m10.3 3.9-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.7-3.1l-8-14a2 2 0 0 0-3.4 0Z"/><path d="M12 9v4m0 4h.01"/>
  {% elif icon_name == "plus" %}
    <path d="M12 5v14M5 12h14"/>
  {% elif icon_name == "close" %}
    <path d="m18 6-12 12M6 6l12 12"/>
  {% elif icon_name == "info" %}
    <circle cx="12" cy="12" r="9"/><path d="M12 11v5m0-8h.01"/>
  {% elif icon_name == "arrow-right" %}
    <path d="M5 12h14m-6-6 6 6-6 6"/>
  {% elif icon_name == "moon" %}
    <path d="M20.9 13A9 9 0 0 1 11 3.1 9 9 0 1 0 20.9 13Z"/>
  {% elif icon_name == "coffee" %}
    <path d="M4 8h13v8a4 4 0 0 1-4 4H8a4 4 0 0 1-4-4Z"/><path d="M17 10h2a2 2 0 1 1 0 4h-2M7 3v2m4-2v2"/>
  {% elif icon_name == "trash" %}
    <path d="M3 6h18m-2 0-.9 14H5.9L5 6m4 4v6m6-6v6M9 6V4h6v2"/>
  {% elif icon_name == "download" %}
    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><path d="m7 10 5 5 5-5M12 15V3"/>
  {% elif icon_name == "filter" %}
    <path d="M4 5h16l-6.5 7.5V19l-3 1v-7.5Z"/>
  {% endif %}
</svg>
